body{
    display: flex;
    overflow-wrap:break-word;
    clear: both;
    
    
}
div{
    display: inline-flexbox;
}

.a{
    

    background-color: lightcyan;
    width: 100%;
   
    text-align: center;
}
.table{
    margin: auto;

}

ul {
    
    list-style-position: inside;
    list-style-type: none;
}

.picContainer{
    background-image: url(cvimg.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-position-x: 35px;
    width: 200px;
    height:200px;
    margin: auto;
    left:34px;
    border-radius: 100px;
}

.icon,.fab{
    width: 10%;
}
i{
    font-size: 50px;

    padding-top: 10px;
    padding-bottom: 15px;
    
}
.c{
    width: 30%;
    word-wrap: break-word;
    padding: 5px;
    border: black 3px solid;
    margin-right: 10px;
    background-image: linear-gradient(to bottom right,cadetblue, rgb(62, 133, 123));
}



.style{
    border:solid 3px;
    padding: 10px;
    width: 200px;
    border-color: #5f9ea0;
    margin: 20px auto 20px auto;

}

body {
background-color: none;
}